In [60]:
import pprint as pp
import json
import pandas as pd
from IPython.display import display

In [61]:
def actual_output_fn(input, current_weight, threshold):
    weighted_sum = 0 
    for i in range(len(input)):
        weighted_sum += input[i] * current_weight[i]
    if weighted_sum < threshold: return 0
    else: return 1

def new_weight_fn(current_weight, learning_coefficient, target_output, actual_output, input):
    size = len(current_weight)
    new_weight = [0]*size
    for i in range(size):
        new_weight[i] = current_weight[i] + learning_coefficient * (target_output - actual_output) * input[i]
    return new_weight

def weight_change_fn(current_weight, updated_weight):
    size = len(current_weight)
    weight_change = [0]*size
    for i in range(size):
        weight_change[i] = updated_weight[i] - current_weight[i]
    return weight_change

def perceptron_simulation(data):
    current_weight = data["original_weight"]
    size = len(data["input"])
    actual_output = [0]*size
    flag = 1
    epoque = 0
    log = []
    while(flag == 1):
        epoque += 1
        # print("\nEpoque", epoque,": ")
        for i in range(size):
            actual_output[i] = actual_output_fn(data["input"][i], current_weight, data["threshold"])
            updated_weight = new_weight_fn(current_weight, data["learning_coefficient"], data["target_output"][i], actual_output[i], data["input"][i])

            # print("""
            #         target_output: %s
            #         actual_output: %s
            #         current_weight: %s
            #         weight_change: %s
            #         current_weight: %s
            #     """ %(
            #         data["target_output"][i],
            #         actual_output[i], 
            #         current_weight,
            #         weight_change_fn(current_weight, updated_weight),
            #         updated_weight)
            #         )
            log.append({
                "Epoch": epoque,
                "input": data["input"][i],
                "target_output": data["target_output"][i],
                "original_weight": current_weight,
                "actual_output": actual_output[i],
                "weight_change": weight_change_fn(current_weight, updated_weight),
                "updated_weight": updated_weight

            })
            current_weight = updated_weight

        flag = 0
        for i in range(size):
            if data["target_output"][i]^actual_output[i] == 1: 
                flag = 1
                break
    return log

In [62]:
# with open('dataset.json', 'r') as file: dataset = json.load(file)
# for data in dataset:
#     pp.pprint(data)
#     perceptron_simulation(data)

In [63]:
data = {"input": [
            [0, 0], 
            [0, 1], 
            [1, 0], 
            [1, 1]
            ],
        "target_output": [0, 1, 1 , 1],
        "original_weight": [0.6, 0.5],
        "learning_coefficient": 0.5,
        "threshold": 2.0
    }
log = perceptron_simulation(data)

In [64]:
n = 0
display(pd.DataFrame(log[:n]).style)
display(pd.DataFrame(log[-n:]).style)