# Backpropagation Algorithm

In [3]:
import pandas as pd
import json
import pprint as pp
import math
import copy
from IPython.display import display 
import numpy as np

In [4]:
def weighted_sum(values, weights):
    res = 0
    for value, weight in zip(values, weights):
        res += value * weight
    return res

In [5]:
def actual_output(weighted_sum): 
    return 1/(1 + math.exp(-weighted_sum))

In [6]:
def delta_ou(target_output, actual_output_ou):
    return (target_output - actual_output_ou) * actual_output_ou * (1-actual_output_ou)

In [7]:
def new_weight_to_ou(weight_to_ou, learning_coef, delta_ou, actual_output_hu):
    return weight_to_ou + learning_coef * delta_ou * actual_output_hu

In [8]:
def delta_hu(delta_ou, weight_to_ou, actual_output_hu):
        return delta_ou * weight_to_ou * actual_output_hu * (1 - actual_output_hu)

In [9]:
def new_weight_to_hu(weight_to_hu, learning_coef, delta_hu, value_iu):
    return weight_to_hu + learning_coef * delta_hu * value_iu

In [10]:
def terminate_training(actual_outputs_of_ou, target_outputs, lower_margin, upper_margin):
    for i, target_output in enumerate(target_outputs):
        if target_output == 1:
            if actual_outputs_of_ou[i] <= upper_margin:
                return False
        else:
            if actual_outputs_of_ou[i] >= lower_margin:
                return False
    return True

In [11]:
def bpa(dataset, num_steps = 1, roundup = 4):
    log = []

    for i, inputs in enumerate(dataset['inputs_list']):
        
        weights_to_hus = copy.deepcopy(dataset['weights_to_hidden_units'])
        weights_to_ous = copy.deepcopy(dataset['weights_to_output_units'])
        target_outputs = copy.deepcopy(dataset['target_outputs_list'][i])

        sub_log = []
        step = 0
        while step <= num_steps:
            actual_output_of_hus = []
            for weights_to_hu in weights_to_hus:
                actual_output_of_hus.append(actual_output(weighted_sum(inputs, weights_to_hu)))
            
            actual_output_of_ous = []
            for weights_to_ou in weights_to_ous:
                actual_output_of_ous.append(actual_output(weighted_sum(actual_output_of_hus, weights_to_ou)))

            sub_sub_log = {}
            sub_sub_log.update({"1.step": step})
            sub_sub_log.update({"2.actual_output_of_hus": np.round(actual_output_of_hus, roundup)})
            sub_sub_log.update({"2.actual_output_of_ous": np.round(actual_output_of_ous, roundup)})
            sub_sub_log.update({"3.weights_to_ous": np.round(weights_to_ous, roundup)})
            sub_sub_log.update({"4.weights_to_hus": np.round(weights_to_hus, roundup)})
            sub_log.append(sub_sub_log)

            
            trained = terminate_training(actual_output_of_ous, target_outputs, dataset['lower_margin'], dataset['upper_margin'])
            if trained:
                # print('The training is complete.')
                break
            else:
                temp_weights_to_ous = copy.deepcopy(weights_to_ous)

                delta_ous = []
                for k, actual_output_of_ou in enumerate(actual_output_of_ous):
                    delta_ous.append(delta_ou(target_outputs[k], actual_output_of_ou))
                    
                    for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                        weights_to_ous[k][j] = new_weight_to_ou(weights_to_ous[k][j], dataset['learning_coef'], delta_ous[k], actual_output_of_hu)

                # print(f'delta_ous: {delta_ous}')
                # print(f'weights_to_ous: {weights_to_ous}')

                delta_hus = []
                for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                    temp_delta_hu = 0
                    for k, actual_output_of_ou in enumerate(actual_output_of_ous):
                        temp_delta_hu += delta_hu(delta_ous[k], temp_weights_to_ous[k][j], actual_output_of_hu)
                    delta_hus.append(temp_delta_hu)

                for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                    for i, input in enumerate(inputs):
                        weights_to_hus[j][i] = new_weight_to_hu(weights_to_hus[j][i], dataset['learning_coef'], delta_hus[j], input)
                
                # print(f'delta_hus: {delta_hus}')
                # print(f'weights_to_hus: {weights_to_hus}')
            
            step += 1
        log.append({"inputs": inputs, "target_outputs": target_outputs, "training": sub_log})
        # break #only on input
    return log

In [12]:
with open('dataset.json', 'r') as file:
    dataset = json.load(file)

In [16]:
for data in dataset:
    pp.pprint(data)
    # https://www.geeksforgeeks.org/display-the-pandas-dataframe-in-table-style/
    log = bpa(data, 1000, 5)
    for sub_log in log:
        print(f"\n\ninputs: {sub_log['inputs']}; target_outputs: {sub_log['target_outputs']}")
        # df = pd.DataFrame(sub_log['training'][:10])
        df = pd.DataFrame(sub_log['training'][-10:])
        # displaying the DataFrame
        display(df.style)

{'inputs_list': [[0, 0, 0],
                 [1, 0, 0],
                 [0, 1, 0],
                 [1, 1, 0],
                 [0, 0, 1],
                 [1, 0, 1],
                 [0, 1, 1],
                 [1, 1, 1]],
 'learning_coef': 0.5,
 'lower_margin': 0.1,
 'target_outputs_list': [[0], [1], [1], [0], [0], [1], [1], [0]],
 'upper_margin': 0.9,
 'weights_to_hidden_units': [[0.2, 0.3, 0.4], [0.5, 0.6, 0.7]],
 'weights_to_output_units': [[0.8, 0.9]]}


inputs: [0, 0, 0]; target_outputs: [0]

inputs: [1, 0, 0]; target_outputs: [1]

inputs: [0, 1, 0]; target_outputs: [1]

inputs: [1, 1, 0]; target_outputs: [0]

inputs: [0, 0, 1]; target_outputs: [0]

inputs: [1, 0, 1]; target_outputs: [1]

inputs: [0, 1, 1]; target_outputs: [1]

inputs: [1, 1, 1]; target_outputs: [0]

{'inputs_list': [[1, 0]],
 'learning_coef': 0.5,
 'lower_margin': 0.1,
 'target_outputs_list': [[1, 0]],
 'upper_margin': 0.9,
 'weights_to_hidden_units': [[0.2, 0.5], [0.3, 0.6], [0.4, 0.7]],
 'weights_to_output_units': [[0.8, 0.9, 0.1], [0.25, 0.35, 0.15]]}


inputs: [1, 0]; target_outputs: [1, 0]

In [17]:
def bpa_out_to_in(dataset, num_epochs = 1, roundup = 4):
    log = []

    epoch = 0
    weights_to_hus = copy.deepcopy(dataset['weights_to_hidden_units'])
    weights_to_ous = copy.deepcopy(dataset['weights_to_output_units'])
    target_outputs = copy.deepcopy(dataset['target_outputs_list'])

    while epoch <= num_epochs:
        actual_outputs_of_ous = []*len(target_outputs)
        actual_outputs_of_hus = []*len(target_outputs)
        
        for i, inputs in enumerate(dataset['inputs_list']):
            actual_output_of_hus = []
            for weights_to_hu in weights_to_hus:
                actual_output_of_hus.append(actual_output(weighted_sum(inputs, weights_to_hu)))
            
            actual_output_of_ous = []
            for weights_to_ou in weights_to_ous:
                actual_output_of_ous.append(actual_output(weighted_sum(actual_output_of_hus, weights_to_ou)))

            temp_weights_to_ous = copy.deepcopy(weights_to_ous)
            delta_ous = []
            for k, actual_output_of_ou in enumerate(actual_output_of_ous):
                delta_ous.append(delta_ou(target_outputs[i][k], actual_output_of_ou))
                for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                    weights_to_ous[k][j] = new_weight_to_ou(weights_to_ous[k][j], dataset['learning_coef'], delta_ous[k], actual_output_of_hu)

            # print(f'delta_ous: {delta_ous}')
            # print(f'weights_to_ous: {weights_to_ous}')

            delta_hus = []
            for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                temp_delta_hu = 0
                for k, actual_output_of_ou in enumerate(actual_output_of_ous):
                    temp_delta_hu += delta_hu(delta_ous[k], temp_weights_to_ous[k][j], actual_output_of_hu)
                delta_hus.append(temp_delta_hu)

            for j, actual_output_of_hu in enumerate(actual_output_of_hus):
                for i, input in enumerate(inputs):
                    weights_to_hus[j][i] = new_weight_to_hu(weights_to_hus[j][i], dataset['learning_coef'], delta_hus[j], input)
            
            # print(f'delta_hus: {delta_hus}')
            # print(f'weights_to_hus: {weights_to_hus}')

            actual_outputs_of_ous.append(actual_output_of_ous)
            actual_outputs_of_hus.append(actual_output_of_hus)
        
        sub_log = {}
        sub_log.update({"1.epoch": epoch})
        # sub_log.update({"2.inputs": np.round(inputs, roundup)})
        sub_log.update({"2.target_outputs": np.round(target_outputs, roundup)})
        # sub_log.update({"2.actual_outputs_of_hus": np.round(actual_outputs_of_hus, roundup)})
        sub_log.update({"2.actual_outputs": np.round(actual_outputs_of_ous, roundup)})
        sub_log.update({"3.weights_to_output_units": np.round(weights_to_ous, roundup)})
        sub_log.update({"4.weights_to_hidden_units": np.round(weights_to_hus, roundup)})
        log.append(sub_log)

        
        if terminate_training(actual_output_of_ous, target_outputs, dataset['lower_margin'], dataset['upper_margin']): break
        
        epoch += 1
    return log

In [20]:
for data in dataset:
    pp.pprint(data)
    log = bpa_out_to_in(data, 100000, 5)
    # df = pd.DataFrame(log[:10])
    df = pd.DataFrame(log[-5:])
    # df = pd.DataFrame([log])
    display(df.style)
    break

{'inputs_list': [[0, 0, 0],
                 [1, 0, 0],
                 [0, 1, 0],
                 [1, 1, 0],
                 [0, 0, 1],
                 [1, 0, 1],
                 [0, 1, 1],
                 [1, 1, 1]],
 'learning_coef': 0.5,
 'lower_margin': 0.1,
 'target_outputs_list': [[0], [1], [1], [0], [0], [1], [1], [0]],
 'upper_margin': 0.9,
 'weights_to_hidden_units': [[0.2, 0.3, 0.4], [0.5, 0.6, 0.7]],
 'weights_to_output_units': [[0.8, 0.9]]}